In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2021-10-06 00:21:26,22.0752,-159.3190,82.72,69,20,5.99
1,1,Albany,US,2021-10-06 00:22:13,42.6001,-73.9662,60.39,95,100,0.67
2,2,Xuanhua,CN,2021-10-06 00:22:14,40.6103,115.0447,46.51,94,100,6.42
3,3,Pemangkat,ID,2021-10-06 00:22:14,1.1667,108.9667,79.84,84,100,8.75
4,4,Itoman,JP,2021-10-06 00:22:15,26.1247,127.6694,82.78,89,75,10.36

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperatures.
max_temp = city_data_df["Max Temp"]

# Declare a new list variable that will hold the values we are trying to extract (name of new list mentioned below).
temps = []

# Remove the negative temperatures from max_temp by using a for loop to iterate through the max_temp and adding the temperatures that are greater then 0 degrees F to a new list.
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2021-10-06 00:21:26,22.0752,-159.3190,82.72,69,20,5.99
3,3,Pemangkat,ID,2021-10-06 00:22:14,1.1667,108.9667,79.84,84,100,8.75
4,4,Itoman,JP,2021-10-06 00:22:15,26.1247,127.6694,82.78,89,75,10.36
5,5,Marana,US,2021-10-06 00:19:53,32.4367,-111.2254,89.35,41,40,11.50
7,7,Hilo,US,2021-10-06 00:16:44,19.7297,-155.0900,82.13,73,20,11.50
14,14,Butaritari,KI,2021-10-06 00:22:17,3.0707,172.7902,81.86,70,23,13.06
16,16,Alofi,NU,2021-10-06 00:22:17,-19.0595,-169.9187,80.49,74,75,11.50
17,17,Galle,LK,2021-10-06 00:17:18,6.0367,80.2170,79.16,82,100,11.05
23,23,Atuona,PF,2021-10-06 00:21:37,-9.8000,-139.0333,78.35,76,64,20.11
28,28,Bonfim,BR,2021-10-06 00:21:32,3.0833,-59.9500,84.18,56,88,7.96

In [14]:
preferred_cities_df.count()

City_ID       184
City          184
Country       183
Date          184
Lat           184
Lng           184
Max Temp      184
Humidity      184
Cloudiness    184
Wind Speed    184
dtype: int64

In [17]:
# Create dataframe called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City","Country","Max Temp","Lat","Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0        Kapaa      US     82.72  22.0752 -159.3190
3    Pemangkat      ID     79.84   1.1667  108.9667
4       Itoman      JP     82.78  26.1247  127.6694
5       Marana      US     89.35  32.4367 -111.2254
7         Hilo      US     82.13  19.7297 -155.0900
14  Butaritari      KI     81.86   3.0707  172.7902
16       Alofi      NU     80.49 -19.0595 -169.9187
17       Galle      LK     79.16   6.0367   80.2170
23      Atuona      PF     78.35  -9.8000 -139.0333
28      Bonfim      BR     84.18   3.0833  -59.9500

In [23]:
# Set parameters to search for a hotel. 
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
hotel_df.head(12)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kapaa,US,82.72,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,Pemangkat,ID,79.84,1.1667,108.9667,Ramah Kost KITA
4,Itoman,JP,82.78,26.1247,127.6694,Southern Beach Hotel & Resort Okinawa
5,Marana,US,89.35,32.4367,-111.2254,Valley of the Sun Mobile Home & RV Park 55+
7,Hilo,US,82.13,19.7297,-155.0900,Hilo Hawaiian Hotel
14,Butaritari,KI,81.86,3.0707,172.7902,Isles Sunset Lodge
16,Alofi,NU,80.49,-19.0595,-169.9187,Taloa Heights
17,Galle,LK,79.16,6.0367,80.2170,Amangalla
23,Atuona,PF,78.35,-9.8000,-139.0333,Villa Enata
28,Bonfim,BR,84.18,3.0833,-59.9500,
31,Hobyo,SO,78.35,5.3505,48.5268,Halane Hotel and Restaurent
34,Georgetown,MY,78.73,5.4112,100.3354,Cititel Penang

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [33]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))