## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,17,Lynn Haven,US,87.91,broken clouds,30.2455,-85.6483,Wingate by Wyndham Panama City Area Lynn Haven
1,19,Vaini,TO,80.76,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
2,21,Kapaa,US,87.78,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,22,San Patricio,US,90.01,clear sky,28.0170,-97.5169,"Motel 6 Sinton, TX"
4,38,Natal,BR,83.05,scattered clouds,-5.7950,-35.2094,Villa Park Hotel | Natal

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Avera")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Avera")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Waycross")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Tallahassee")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Lynn Haven")]

In [45]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()
end = vacation_end.to_numpy()
stop1 = vacation_stop1.to_numpy()
stop2 = vacation_stop2.to_numpy()
stop3 = vacation_stop3.to_numpy()
starting_coordinates = (start[0][5],start[0][6])
ending_coordinates = (end[0][5],end[0][6])
stop1_coordinates = (stop1[0][5],stop1[0][6])
stop2_coordinates = (stop2[0][5],stop2[0][6])
stop3_coordinates = (stop3[0][5],stop3[0][6])

In [46]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets

fig = gmaps.figure()
challenge_trip = gmaps.directions_layer(
starting_coordinates, ending_coordinates, waypoints=[stop1_coordinates, stop2_coordinates, stop3_coordinates], travel_mode='BICYCLING')
fig.add_layer(challenge_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [55]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

# For some reason, the above df was returning an extra row where all the values are "Lynn Haven".
final_itinerary_df = itinerary_df.drop(4)
final_itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,361,Avera,US,81.72,broken clouds,33.194,-82.5271,NaN
1,190,Waycross,US,81.07,broken clouds,31.2136,-82.354,Super 8 by Wyndham Waycross GA
2,330,Tallahassee,US,87.1,scattered clouds,30.4383,-84.2807,Four Points by Sheraton Tallahassee Downtown
3,17,Lynn Haven,US,87.91,broken clouds,30.2455,-85.6483,Wingate by Wyndham Panama City Area Lynn Haven

In [56]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_info = [info_box_template.format(**row) for index, row in final_itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = final_itinerary_df[["Lat", "Lng"]]

In [58]:
# 11a. Add a marker layer for each city to the map.
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = final_itinerary_df[["Lat", "Lng"]]
max_temp = final_itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=itinerary_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))